@using Utils
@model ResourceServer.Models.ImportViewModel
@{
  ViewData["Title"] = "Import users";
}

<br />
<h3>Import new users</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var user in Model.NewUsers)
    {
      <tr>
        <td>@user.Subject</td>
        <td>@user.Email</td>
        <td>@string.Join(", ", user.Roles)</td>
        <td>
          @if (user.Roles.Contains(AppConstants.Roles.Student))
          {
            <form method="post" asp-area="" asp-controller="ManageUsers" asp-action="ImportStudent">
              <input name="id" type="hidden" value="@user.Subject" />
              <input name="name" type="hidden" value="@user.Email" />
              <button type="submit" class="btn btn-xs btn-primary">Import as Student</button>
            </form>
          }

          @if (user.Roles.Contains(AppConstants.Roles.Teacher))
          {
            <form method="post" asp-area="" asp-controller="ManageUsers" asp-action="ImportTeacher">
              <input name="id" type="hidden" value="@user.Subject" />
              <input name="name" type="hidden" value="@user.Email" />
              <button type="submit" class="btn btn-xs btn-success">Import as Teacher</button>
            </form>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
<form method="post" asp-area="" asp-controller="ManageUsers" asp-action="ImportAll">
  <button type="submit" class="btn btn-warning">Import All</button>
</form>
<br />
<hr />
<h3>List of teachers</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var teacher in Model.Teachers)
    {
      <tr>
        <td>@teacher.Id</td>
        <td>@teacher.Name</td>
        <td>
          <form method="post" asp-area="" asp-controller="ManageUsers" asp-action="DeleteTeacher">
            <input name="id" type="hidden" value="@teacher.Id" />
            <button type="submit" class="btn btn-xs btn-danger">Remove</button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>

<br />
<h3>List of students</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var student in Model.Students)
    {
      <tr>
        <td>@student.Id</td>
        <td>@student.Name</td>
        <td>
          <form method="post" asp-area="" asp-controller="ManageUsers" asp-action="DeleteStudent">
            <input name="id" type="hidden" value="@student.Id" />
            <button type="submit" class="btn btn-xs btn-danger">Remove</button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>
