@using ResourceServer.Data
@model IEnumerable<Course>

@{
  ViewData["Title"] = "Courses";
}

<br />
<h2>Courses</h2>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Subject</th>
      <th>Teacher</th>
      <th>Year</th>
      <th>ECTS</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var course in Model)
    {
    <tr>
      <td>@course.Id</td>
      <td>@course.Subject.Name</td>
      <td>@course.Teacher.Name</td>
      <td>@course.Date.Year</td>
      <td>@course.Subject.Ects</td>
      <td>
        <form method="post" asp-area="" asp-controller="Courses" asp-action="Delete">
          <input name="id" type="hidden" value="@course.Id" />
          <button type="submit" class="btn btn-xs btn-danger">Delete</button>
        </form>
      </td>
    </tr>
    }
  </tbody>
</table>
<br />
<a class="btn btn-info" asp-area="" asp-controller="Courses" asp-action="Create">Create new</a>