@using ResourceServer.Data
@model IEnumerable<Grade>

@{
  ViewData["Title"] = "Grades";
}

<br />
<h2>Grades for student @ViewData["id"]</h2>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Grade</th>
      <th>ECTS</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var grade in Model)
    {
      <tr>
        <td>@grade.Subject.Name</td>
        <td>@grade.GradeValue</td>
        <td>@grade.Subject.Ects</td>
        <td>
          <form method="post" asp-area="" asp-controller="Grades" asp-action="Delete">
            <input name="studentid" type="hidden" value="@grade.StudentId" />
            <input name="subjectid" type="hidden" value="@grade.SubjectId" />
            <button type="submit" class="btn btn-xs btn-danger">Remove</button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>
<a class="btn btn-info" asp-area="" asp-controller="Grades" asp-action="Add">Add grade</a>